.container {
    padding-top: 70px;
    width: 1500px;
    background-color: #eee;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}

.left, .right{
    width: 750px; 
    height: auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.barcharts{
    width: 750px; 
    height: auto;
    clear: both;
}

.read-more-state {
    display: none;
}
  
.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
}

.read-more-trigger {
    text-align: center;
    cursor: pointer;
    padding: 0 .5em;
    color: #3186cc;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #3186cc;
    border-radius: .25em;
    display: block;
    float: left;
    position: relative;
    left: 50%;
    clear: both;
}